* {	
	font-family: EB Garamond, Hahmlet, sans serif;
	font-weight: 100; 
	font-size: 10px;
}


body {
	width: 101%;
	font-size: 10px;
	margin: auto;
	overflow-x:hidden;
}


#main {
	display: flex;
	background-color: #05071a;
	width: 100%;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	
}

#title {
	color: #fff;
	font-size: 5.3rem;
	text-align: center;
	padding: 2rem 0 2rem;
}

#img-div {
	transition-duration: 1200ms;
	margin: auto;
}
#img-div:hover {
	transform: scale(1.05);
}

#image {
	width: 50%;
	margin-left: 25%;
	border-radius: 1%;
}

#img-caption {
	color: #fff;
	font-size: 2.7rem;
	display: block;
	text-align: center;
	padding: 1rem 0 10rem;	
}

#h4 {
	color: #fff;
	font-size: 2rem;
	margin: 10% 20% 0;
	display: block;
	text-align: center;
	position: relative;
	top: -4rem;
}










#discog {
	color: #fff;
	font-size: 2.4rem;
	position: relative;
	left: 5rem;
	font-family: Montserrat;
	padding: 2rem 0 2rem

}

.separador {
	background-color: #fff;
	height: 0.1rem;
	width: 100%;
}

#grafico-central {
	display: block;
	margin: 0 47.5% 0;
	width: 5%;
	height: 348rem;
	background-color: transparent/*#ff0550*/;
}

#linea-centro {
	background-color: #fff;
	display: block;
	margin: auto;
	width: 0.1rem;
	height: 348rem;
}

#circle-cont {
	position: relative;
	top: -348rem;
}

.circle {
	background-color: #fff;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: block;
	margin: auto;
}

#sq1 {
	position: relative;
	top: 19.5rem;
}

#sq2 {
	position: relative;
	top: 54.3rem;
}

#sq3 {
	position: relative;
	top: 89.1rem;
}

#sq4 {
	position: relative;
	top: 123.6rem;
}

#sq5 {
	position: relative;
	top: 158.25rem;
}

#sq6 {
	position: relative;
	top: 192.9rem;
}

#sq7 {
	position: relative;
	top: 227.55rem;
}

#sq8 {
	position: relative;
	top: 262rem;
}

#sq9 {
	position: relative;
	top: 296.55rem;
}










#info-cloud {
	position: absolute;
	top: 68rem;
	padding: 8rem 0 ;
}

/*tengo que unificar las imagenes y dejar de separarlas
por derecha e izquierda, en cambio, hacer eso con los articles y posicionar las cosas
con ellos. tambien tengo que econfigurar el album title, hacer que entre en
el article dandole mas heigth a este y tratando de centrarlo al igual que hice 
con la imagen del comienzo
1. etiquetar los article left y rigth READY
2. unificar las imagenes READY
3. configurar tamaño y posicion de los articles READY
3. configurar posicion de los titles
4. encontrar la manera de cliquear en article y enlace una nueva page
5. repocicionar los circles*/

.article-rigth {
	position: relative;
	left: 53rem;
}
.article-left {
	position: relative;
	left: 6rem;
}
.article-left, .article-rigth {
	height: 33rem;
	width: 33rem;
	border: thin #fff solid;
	transition-duration: 700ms;
	cursor: pointer;
}
.article-left:hover, .article-rigth:hover{
	transform: scale(1.05);
}



.album-img {
	display: block;
	margin: auto;
	width: 25rem;
	border-radius: 2.7%;
	margin-top: 2rem;
}

.album-title {
	color: #fff;
	font-size: 3rem;
	font-family: Montserrat;
	display: block;
	text-align: center;
	/*position: relative;
	top: 2.3rem;
	display: inline;
	transition-duration: 500ms;
	cursor: pointer;
}
.album-title:hover {
	transform: scale(1.03);
*/}


.year-i {
	font-family: Montserrat;
	font-weight: 200;
	color: #fff;
	font-size: 4rem;
	position: relative;
	right: -32rem;
	top: -20.33rem;
}
.year-p {
	font-family: Montserrat;
	font-weight: 200;
	color: #fff;
	font-size: 4rem;
	position: relative;
	right: -50.7rem;
	top: -20.33rem;
}
